/*
  Robin Giles Ribera
  2013
*/


.animated {
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -ms-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

.animated.hinge {
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  -o-animation-duration: 4s;
  animation-duration: 4s;
}

@-webkit-keyframes flight {
  0% {
    -webkit-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
    -webkit-box-shadow: 10px 10px 80px rgba(0,0,0,0.7);
  }
  15% {
    -webkit-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  24% { 
    -webkit-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  25% {
    -webkit-transform: perspective(400px) rotateY(0);
    -webkit-animation-timing-function: ease-out;
    -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
  }
  35% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -webkit-animation-timing-function: ease-out;
  }
  37% {
    -webkit-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -webkit-animation-timing-function: ease-in;
  }
  45% {
    -webkit-transform: perspective(400px) rotateY(360deg) scale(.95);
    -webkit-animation-timing-function: ease-in;
  }
  49% {
    -webkit-transform: perspective(400px) scale(1);
    -webkit-animation-timing-function: ease-in;
    -webkit-box-shadow: 10px 10px 80px rgba(0,0,0,0.7);
  }
  50% {
    -webkit-transform-origin: top center;
  }
  55% {
    -webkit-transform: rotate(0);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-box-shadow: 20px 20px 80px rgba(0,0,0,0.5);
  }  
  60%, 80% {
    -webkit-transform: rotate(80deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out; }  
  70% {
    -webkit-transform: rotate(60deg);
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  } 
  90% {
    -webkit-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -webkit-transform-origin: top left;
    -webkit-animation-timing-function: ease-in-out;
  } 
  100% {
    -webkit-transform: translateY(700px);
    opacity: 0;
    -webkit-box-shadow: 20px 20px 80px rgba(0,0,0,0.2);
  }
}

@-moz-keyframes flight {
  0% {
    -moz-transform: translateX(100%) skewX(-30deg);
    opacity: 0;
    -moz-box-shadow: 10px 10px 80px rgba(0,0,0,0.7);
  }
  15% {
    -moz-transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  20% {
    -moz-transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  24% { 
    -moz-transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  25% {
    -moz-transform: perspective(400px) rotateY(0);
    -moz-animation-timing-function: ease-out;
    -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
  }
  35% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(170deg);
    -moz-animation-timing-function: ease-out;
  }
  37% {
    -moz-transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    -moz-animation-timing-function: ease-in;
  }
  45% {
    -moz-transform: perspective(400px) rotateY(360deg) scale(.95);
    -moz-animation-timing-function: ease-in;
  }
  49% {
    -moz-transform: perspective(400px) scale(1);
    -moz-animation-timing-function: ease-in;
    -moz-box-shadow: 10px 10px 80px rgba(0,0,0,0.7);
  }
  50% {
    -moz-transform-origin: top center;
  }
  55% {
    -moz-transform: rotate(0);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
    -moz-box-shadow: 20px 20px 80px rgba(0,0,0,0.5);
  }  
  60%, 80% {
    -moz-transform: rotate(80deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out; }  
  70% {
    -moz-transform: rotate(60deg);
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  } 
  90% {
    -moz-transform: rotate(60deg) translateY(0);
    opacity: 1;
    -moz-transform-origin: top left;
    -moz-animation-timing-function: ease-in-out;
  } 
  100% {
    -moz-transform: translateY(700px);
    opacity: 0;
    -moz-box-shadow: 20px 20px 80px rgba(0,0,0,0.2);
  }
}

@keyframes flight {
  0% {
    transform: translateX(100%) skewX(-30deg);
    opacity: 0;
    box-shadow: 10px 10px 80px rgba(0,0,0,0.7);
  }
  15% {
    transform: translateX(-20%) skewX(30deg);
    opacity: 1;
  }
  20% {
    transform: translateX(0%) skewX(-15deg);
    opacity: 1;
  }
  24% { 
    transform: translateX(0%) skewX(0deg);
    opacity: 1;
  }
  25% {
    transform: perspective(400px) rotateY(0);
    animation-timing-function: ease-out;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.7);
  }
  35% {
    transform: perspective(400px) translateZ(150px) rotateY(170deg);
    animation-timing-function: ease-out;
  }
  37% {
    transform: perspective(400px) translateZ(150px) rotateY(190deg) scale(1);
    animation-timing-function: ease-in;
  }
  45% {
    transform: perspective(400px) rotateY(360deg) scale(.95);
    animation-timing-function: ease-in;
  }
  49% {
    transform: perspective(400px) scale(1);
    animation-timing-function: ease-in;
    box-shadow: 10px 10px 80px rgba(0,0,0,0.7);
  }
  50% {
    transform-origin: top center;
  }
  55% {
    transform: rotate(0);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
    box-shadow: 20px 20px 80px rgba(0,0,0,0.5);
  }  
  60%, 80% {
    transform: rotate(80deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out; }  
  70% {
    transform: rotate(60deg);
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  } 
  90% {
    transform: rotate(60deg) translateY(0);
    opacity: 1;
    transform-origin: top left;
    animation-timing-function: ease-in-out;
  } 
  100% {
    transform: translateY(700px);
    opacity: 0;
    box-shadow: 20px 20px 80px rgba(0,0,0,0.2);
  }
}

.flight {
    -webkit-animation-name: flight;
    -moz-animation-name: flight;
    -o-animation-name: flight;
    animation-name: flight;

    -webkit-animation-timing-function: ease-out;
    -moz-animation-timing-function: ease-out;
    -o-animation-timing-function: ease-out;
    animation-timing-function: ease-out;

    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}
 

